<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:replace="/includes/header"/>

    <!-- Hero Search Section Begin -->
    <!-- <div class="hero-search set-bg" data-setbg="/img/search-bg.jpg">
        <div class="container">
            <div class="filter-table">
                <form action="#" class="filter-search">
                    <select id="category">
                        <option value="all">All</option>
                        <option value="best">Best</option>
                        <option value="set">Set</option>
                        <option value="hamburger">Hamburger</option>
                        <option value="dessert">Dessert</option>
                        <option value="drink">Drink</option>
                    </select>
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div> -->
    <!-- Hero Search Section End -->
    
    <!-- Recipe Section Begin -->
    <section class="recipe-section spad">
        <div class="container">
            <h1 class="cat-title">Best</h1>
            
            <div class="row">
                <div th:each="item : ${itemList}">
                    <div th:with="type = ${item.type eq 'hamburger'}">
                        <div th:if="${type}">
                            <th:block class="col-lg-4 col-sm-6">
                                <div class="recipe-item" th:data-ino = "${item.ino}" th:data-iname= "${item.iname}" th:data-content= "${item.content}" th:data-img= "${item.images.get(0).mname}" th:data-price= "${item.price}">
                                    <div th:each="img : ${item.images}">
                                        <p th:if="${img.mainCheck eq 'Y'}" th:with="mainImg = ${img.mname}"></p>
                                    </div>   
                                        <a href="#" th:onclick="modalOpen(event)"><img th:src="@{'/img/hamburger/'+${item.images.get(0).mname}}" alt=""> </a>
                                    <div class="ri-text">
                                        <div class="cat-name">Best</div>
                                        <a href="#">
                                            <h4 th:text="${item.iname}"></h4>
                                        </a>
                                        <p th:text="${item.price}+' 원'"></p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe Section End -->

    <!-- Categories Feature Recipe Section Begin -->
    <section class="categories-feature-recipe spad">
        <div class="section-title">
            <h5>Featured Recipes</h5>
        </div>
        <div class="container po-relative">
            <div class="plus-icon">
                <!-- <i class="fa fa-plus"></i> -->
                <a href="#"><img src="/img/cart.png"></a>
            </div>
            <!-- <div class="row">
                <div class="col-lg-7">
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-1.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Vegan</div>
                            <a href="#">
                                <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-2.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Meat Lover</div>
                            <a href="#">
                                <h4>Veggie soup with Mushrooms</h4>
                            </a>
                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-3.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Desert</div>
                            <a href="#">
                                <h4>Caramel Ice Cream with Berries</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-4.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Desert</div>
                            <a href="#">
                                <h4>Freash Octopuse with lime juice</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
                                amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-1.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-2.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Lava Cake with a Tone of Chocolate</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-3.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-4.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-5.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Asparagus with Pork Loin and Vegetables</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-6.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Dry Cookies with Corn</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-7.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Italian Tiramisu with Coffe</h6>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- Categories Feature Recipe Section End -->

    <!-- <nav class="bottomNav">
        <button type="button" class="cart btn btn-warning">장바구니</button>
    </nav> -->


    <!--modal-->
    
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">상세보기</h5>
              <button type="button" class="close" th:onclick="'javascript:modalClose('+this+');'" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="detail modal-body" >
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" th:onclick="'javascript:addCart(event);'">장바구니 담기</button>
              <button type="button" class="btn btn-secondary" th:onclick="'javascript:modalClose(event);'" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>

      <!-- cart modal
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">장바구니</h5>
              <button type="button" class="close" th:onclick="'javascript:modalClose(event);'" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="cart modal-body">

              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">주문하기</button>
              <button type="button" class="btn btn-secondary" th:onclick="'javascript:modalClose('+this+');'" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">
                장바구니
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-image">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">메뉴</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                    <th scope="col">Total</th>
                    <th scope="col">삭제</th>
                  </tr>
                </thead>
                <tbody id = "cartContent">
                    
                </tbody>
              </table> 
              
              <div class="d-flex justify-content-end">
                <h5>총 수량: <span class="count text-success">0</span></h5>&nbsp&nbsp&nbsp&nbsp&nbsp
                <h5>총 가격: <span class="price text-success">0 원</span></h5>
              </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-between">
                
              <input type="image" class="pay" src="/img/kakaopay.png">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              
            </div>
          </div>
        </div>
      </div>


      <form id="actionForm" >

      </form>

    <script type="text/javascript" th:inline="javascript">

    $(function(){
        var didScroll;
        var lastScrollTop = 0; 
        var delta = 5; // 동작의 구현이 시작되는 위치 
        var navbarHeight = $('header').outerHeight(); // 영향을 받을 요소를 선택
        var fixBoxHeight = $('.bottomNav').offsetHeight;
        var device;
        
        function isMobile() {
            return navigator.userAgent.indexOf('Mobi') > -1;
        }

        if(isMobile()){
            console.log("mobile");
            device= "mobile";

        }else{
            console.log("pc");
            device= "pc";
        }



        console.log(navbarHeight);
        console.log(fixBoxHeight);

        readToItem();

        //스크롤을 헤더만큼 내리면 CSS실행 헤더보다 낮아지면 취소...........

        //스크롤을 움직이면
        $(window).scroll(function(event){ 
            didScroll = true; 
        });

        setInterval(function() { 
            if (didScroll) { 
                hasScrolled(); 
                didScroll = false; 
            } 
        }, 250); // 0.25초마다 스크롤 여부 체크


        function hasScrolled() { 
            // 동작을 구현 
            var st = $(this).scrollTop(); //현재 스크롤의 위치를 저장

            if (Math.abs(lastScrollTop - st) <= delta)  //설정한 delta 값보다 더 스크롤 되었는지 확인
                return;

            // If current position > last position AND scrolled past navbar... 
            if (st > lastScrollTop && st > navbarHeight){ 
                // Scroll Down 
                $('header').removeClass('nav-down').addClass('nav-up'); 
                
            } else { 
                // Scroll Up 
                // If did not scroll past the document (possible on mac)... 
                if(st + $(window).height() < $(document).height()) { 
                    $('header').removeClass('nav-up').addClass('nav-down'); 
                } 
            }

            lastScrollTop = st;
        }


                
        $('.pay').click(function(e){
            var form = $("#actionForm");
            e.defaultPrevented
            console.log("click..");
            var total = 0;
            var cnt = 0;
            var name = "";


            for ( var i = 0, len = localStorage.length; i < len; ++i ) {
                var loadedToDos = localStorage.getItem(localStorage.key(i));
                console.log(loadedToDos);

                if (loadedToDos !== null) {
                    const parsedToDos = JSON.parse(loadedToDos);

                    name = parsedToDos['name'];
                    cnt += JSON.parse(parsedToDos['qua']);
                    total += JSON.parse(parsedToDos['no'])*JSON.parse(parsedToDos['price']);
                }
            }
            console.log("total: "+total+", cnt: "+cnt+", name: "+name);
            

            form.append("<input type='hidden' name='url' value='"+device+"'>")
            .append("<input type='hidden' name='cnt' value='"+cnt+"'>")
            .append("<input type='hidden' name='total' value='"+total+"'>")
            .append("<input type='hidden' name='name' value='"+name+"'>")
            .attr("action","/kakaoPay")
            .attr("method","post")
            .submit();
            
        });
        

        $(".plus").click(function(){
            console.log("plus"+ this.id);
            var id = this.id;
            var num = $("#input"+id).val();
            var plusNum = Number(num) + 1;
            console.log(id);
            
            $("#input"+id).val(plusNum); 
            var price = $("#price"+id).html();

            var total = $("#input"+id).val() * price;
            var realTotal = parseInt(price) + parseInt($(".price").html());

            $("#totalPrice"+id).html(total);

            $(".price").html(realTotal+ "원");
            var getItem = JSON.parse(localStorage.getItem(id));

            var qua = {"name":getItem['name'],"price":getItem['price'],"img":getItem['img'], "no":getItem['no'],"qua":parseInt(getItem['qua'])+1};
            localStorage.setItem(id, JSON.stringify(qua));

           
        });
        
        $(".minus").click(function(e){
            console.log("minus"+this.id);
            var id = this.id;
            var num = $("#input"+id).val();
            var minusNum = Number(num) - 1;

            if(minusNum <= 0) {
                $("#input"+id).val(num);
            } else {
                $("#input"+id).val(minusNum);          
            }

            var price = $("#price"+id).html();
            var total = $("#input"+id).val() * price;
            $("#totalPrice"+id).html(total);

            if(num > 1){
                var realTotal = parseInt($(".price").html()) - parseInt(price);
                $(".price").html(realTotal+ "원");
            }

            var getItem = JSON.parse(localStorage.getItem(id));

            var qua = {"name":getItem['name'],"price":getItem['price'],"img":getItem['img'], "no":getItem['no'],"qua":parseInt(getItem['qua'])-1};
            localStorage.setItem(id, JSON.stringify(qua));
            
        });



        $(".plus-icon").click(function(){
            console.log("cart click..");

            $("#cartModal").modal("show");

        });

        $(".btn-danger").click(function(e){
            var key = this.id;
            var itemId = "item"+key;
            var total = 0;
            console.log(key);
            deleteItem(key); //해당  key를 지움

            $("#"+itemId).html(""); //장바구니에 해당 상품을 지움

            for ( var i = 0, len = localStorage.length; i < len; ++i ) {
                var loadedToDos = localStorage.getItem(localStorage.key(i));
                const parsedToDos = JSON.parse(loadedToDos);
                console.log(loadedToDos);

                if (loadedToDos !== null) {
                    total += JSON.parse(parsedToDos['price']);
                }
            }
            
            $(".price").html(total+" 원");
        });

        function readToItem(){
            var cart = $("#cartContent");
            var realTotal=0; //총 가격
            var total=0;
            var cnt=0;

            for ( var i = 0, len = localStorage.length; i < len; ++i ) {
                var loadedToDos = localStorage.getItem(localStorage.key(i));
                console.log(loadedToDos);

                if (loadedToDos !== null) {
                    const parsedToDos = JSON.parse(loadedToDos);
                    // realTotal += JSON.parse(parsedToDos['price']);
                    var str = "";
                    console.log(parsedToDos['name']);
                    console.log(parsedToDos['price']);
                    console.log(parsedToDos['img']);
                    
                    str += "<tr id='item"+parsedToDos['no']+"'>";
                    str += "<td class='w-25'>";
                    str += "<img src='/img/hamburger/"+parsedToDos['img']+"' class='img-fluid img-thumbnail' alt='Sheep'>";
                    str += "</td>";
                    str += "<td>"+parsedToDos['name']+"</td>";
                    str += "<td id='price"+parsedToDos['no']+"'>"+parsedToDos['price']+"</td>";
                    str += "<td class='qty'><button type='button' id='"+parsedToDos['no']+"' class='plus'>+</button>";
                    str += "<input type='number' class='numBox form-control' min='1' value='"+parsedToDos['qua']+"' id='input"+parsedToDos['no']+"' readonly='readonly'>";
                    str += "<button type='button' id='"+parsedToDos['no']+"' class='minus'>-</button></td>";
                    str += "<td id='totalPrice"+parsedToDos['no']+"'>"+parsedToDos['price']*parsedToDos['qua']+"</td>";
                    str += "<td>";
                    str += "<a href='#' id='"+parsedToDos['no']+"' class='btn btn-danger btn-sm'>";
                    str += "<i class='fa fa-times'></i></a>";
                    str += "</td>";
                    str += "</tr>";
                        
                    cart.append(str);

                    realTotal += parseInt($("#totalPrice"+parsedToDos['no']).html());
                    cnt += JSON.parse(parsedToDos['qua']);
                    
                }
            }
            console.log("cnt: "+cnt);
             
            $(".price").html(realTotal+" 원");
            $(".count").html(cnt);

        }
    });


    var addCart = function(e){
        console.log("add cart.."+ e);
        var no = $("input[name='num']").val();
        var actionForm = $('#actionForm');

        saveToCart();

        actionForm.append("<input type='hidden' name='ino' value='"+no+"'>");
        actionForm.attr("action","/store/menu");
        actionForm.attr("method","post");
        actionForm.submit();
    };

        function saveToCart(){
            console.log("add cart..");

            var no = $("input[name='num']").val();
            var name = $("input[name='name']").val();
            var price = $("input[name='price']").val();
            var img = $("input[name='img']").val();
            var item;

            if(!localStorage.getItem(no)){
                item = {"name":name,"price":price,"img":img, "no":no, "qua":1};

            }else{
                var getItem = localStorage.getItem(no);
                //alert(JSON.parse(getItem)['qua']);
                item = {"name":name,"price":price,"img":img, "no":no, "qua":parseInt(JSON.parse(getItem)['qua'])+1};

            }

            localStorage.setItem(no, JSON.stringify(item));
        }



        function deleteItem(key){

            localStorage.removeItem(key);
            
        }



    var modalOpen = function(e){
        console.log("click......"+e);
        
        var targetDiv = $(e.target).closest(".recipe-item");
        var modalBody = $(".detail");
        var ino = targetDiv.data("ino");
        var iname = targetDiv.data("iname");
        var content = targetDiv.data("content");
        var price = targetDiv.data("price");
        var img = targetDiv.data("img");
        var str="";

        console.log(targetDiv);
        console.log("img: "+img);
        console.log("content: "+content);

        //str += "<img src='/img/hamburger/"+img+"'>";
        str += "<div id='carouselExampleControls' class='carousel slide' data-ride='arousel'>";
        str += "<div class='carousel-inner'>";
        str += "<div class='carousel-item active'>";
        str += "<img class='d-block w-100' src='/img/hamburger/"+img+"' alt='slide'>";
        str += "</div>";

        //str += "<div th:each='img : ${itemList.images}'>";
        str += "<div class='carousel-item'>";
        str += "<img class='d-block w-100' src='/img/hamburger/"+img+"' alt='slide'>";
        str += "</div>";
        //str += "</div>";
        
        str += "</div>";
        str += "<a class='carousel-control-prev' href='#carouselExampleControls' role='button' data-slide='prev'>";
        str += "<span class='carousel-control-prev-icon' aria-hidden='true'></span>";
        str += "<span class='sr-only'>Previous</span>";
        str += "</a>";
        str += "<a class='carousel-control-next' href='#carouselExampleControls' role='button' data-slide='next'>";
        str += "<span class='carousel-control-next-icon' aria-hidden='true'></span>";
        str += "<span class='sr-only'>Next</span>";
        str += "</a>";
        str += "</div>";
        str += "<p>"+iname+"</p>";
        str += "<p>"+price+" 원</p>";
        str += "<p>"+content+"</p>";
        str += "<input type='hidden' name='num' value='"+ino+"'>";
        str += "<input type='hidden' name='name' value='"+iname+"'>";
        str += "<input type='hidden' name='price' value='"+price+"'>";
        str += "<input type='hidden' name='img' value='"+img+"'>";

        modalBody.html(str);

        //console.log(str)


        $("#detailModal").modal("show");

        //console.log("modal: "+$("#detailModal").html);
        
        $('html, body').css({'overflow': 'hidden', 'height': '100%'});
        
            $('#element').on('scroll touchmove mousewheel', function(event) {     
                event.preventDefault();     
                event.stopPropagation();     
            
                return false; 
            });

    };

    var modalClose = function(e){
        console.log("click......."+e);

        $('html, body').css({'overflow': 'auto', 'height': '100%'});
        $('#element').off('scroll touchmove mousewheel');

    }

    
      </script>

    <footer th:replace="/includes/footer"/>