<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:replace="/includes/header"/>

    <!-- Hero Search Section Begin -->
    <div class="hero-search set-bg" data-setbg="/img/search-bg.jpg">
        <div class="container">
            <div class="filter-table">
                <form action="#" class="filter-search">
                    <select id="category">
                        <option value="all">All</option>
                        <option value="best">Best</option>
                        <option value="set">Set</option>
                        <option value="hamburger">Hamburger</option>
                        <option value="dessert">Dessert</option>
                        <option value="drink">Drink</option>
                    </select>
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Hero Search Section End -->
    
    <!-- Recipe Section Begin -->
    <section class="recipe-section spad">
        <div class="container">
            <h1 class="cat-title">Best</h1>
            
            <div class="row">
                <div th:each="item : ${itemList}">
                    <div th:with="type = ${item.type eq 'hamburger'}">
                        <div th:if="${type}">
                            <th:block class="col-lg-4 col-sm-6">
                                <div class="recipe-item">
                                    <a href="#" th:onclick="'javascript:modalOpen('+this+');'"><img th:src="@{'/img/hamburger/'+${item.images.get(0).mname}}" alt=""> </a>
                                    <div class="ri-text">
                                        <div class="cat-name">Best</div>
                                        <a href="#">
                                            <h4 th:text="${item.iname}"></h4>
                                        </a>
                                        <p th:text="${item.price}+' won'"></p>
                                        <p th:text="${item.content}"></p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- Recipe Section End -->

    <!-- Categories Feature Recipe Section Begin -->
    <section class="categories-feature-recipe spad">
        <div class="section-title">
            <h5>Featured Recipes</h5>
        </div>
        <div class="container po-relative">
            <div class="plus-icon">
                <i class="fa fa-plus"></i>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-1.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Vegan</div>
                            <a href="#">
                                <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-2.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Meat Lover</div>
                            <a href="#">
                                <h4>Veggie soup with Mushrooms</h4>
                            </a>
                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-3.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Desert</div>
                            <a href="#">
                                <h4>Caramel Ice Cream with Berries</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="/img/cat-feature/big-4.jpg">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">Desert</div>
                            <a href="#">
                                <h4>Freash Octopuse with lime juice</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
                                amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-1.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-2.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Lava Cake with a Tone of Chocolate</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-3.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-4.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-5.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Asparagus with Pork Loin and Vegetables</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-6.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Dry Cookies with Corn</h6>
                        </div>
                    </div>
                    <div class="cfr-small-item">
                        <a href="#"><img src="/img/cat-feature/small-7.jpg" alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">Vegan</div>
                            <h6>Italian Tiramisu with Coffe</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Feature Recipe Section End -->


    <!--modal-->
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">상세보기</h5>
              <button type="button" class="close" th:onclick="'javascript:modalClose('+this+');'" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img th:src="@{'/img/hamburger/'+${itemList.get(0).images.get(0).mname}}">
              <p th:text="${itemList.get(0).iname}"></p>
              <p>[[${itemList.get(0).price}]] 원</p>
              <p>[[${itemList.get(0).content}]]</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Order</button>
              <button type="button" class="btn btn-secondary" th:onclick="'javascript:modalClose('+this+');'" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      

      <script type="text/javascript" th:inline="javascript">

       
        
          var modalOpen = function(e){
            console.log("click......"+e);
            
            $(".modal").modal("show");
            $('html, body').css({'overflow': 'hidden', 'height': '100%'});
            
            $('#element').on('scroll touchmove mousewheel', function(event) {     
                event.preventDefault();     
                event.stopPropagation();     
                
                return false; 
            });

          };

          var modalClose = function(e){
            console.log("click......."+e);

            $('html, body').css({'overflow': 'auto', 'height': '100%'});
            $('#element').off('scroll touchmove mousewheel');

          }

        



      </script>

    <footer th:replace="/includes/footer"/>