<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kiosk | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="/store/home"><img src="/img/logo.png" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li th:class="${#httpServletRequest.requestURI.contains('home')} ? ' active' : ''"><a href="/store/home">Home</a></li>
                        <li th:class="${#httpServletRequest.requestURI.contains('menu')} ? ' active' : ''"><a href="/store/menu">Menu</a>
                            <ul class="sub-menu">
                                <li th:class="${#httpServletRequest.requestURI.contains('bestMenu')} ? ' active' : ''"><a th:href="@{/store/menu(type='best')}">Best</a></li>
                                <li th:class="${#httpServletRequest.requestURI.contains('setMenu')} ? ' active' : ''"><a th:href="@{/store/menu(type='set')}">Set</a></li>
                                <li th:class="${#httpServletRequest.requestURI.contains('home')} ? ' active' : ''"><a th:href="@{/store/menu(type='hamburger')}">Hamburger</a></li>
                                <li th:class="${#httpServletRequest.requestURI.contains('home')} ? ' active' : ''"><a th:href="@{/store/menu(type='dessert')}">Dessert</a></li>
                                <li th:class="${#httpServletRequest.requestURI.contains('home')} ? ' active' : ''"><a th:href="@{/store/menu(type='drink')}">Drink</a></li>
                            </ul>
                        </li>
                        <li><a href="${#httpServletRequest.requestURI.contains('order')} ? ' active' : ''">Order</a></li>
                        <li><a href="${#httpServletRequest.requestURI.contains('contact')} ? ' active' : ''">Contact</a></li>
                        <li><a href="${#httpServletRequest.requestURI.contains('help')} ? ' active' : ''">Help</a></li>
                    </ul>
                </nav>
                <div class="nav-right search-switch">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
